includes:
    - ./phpstan-baseline.neon
parameters:
    level: 9
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - templates/*
        - tests/*
    ignoreErrors:
        - identifier: missingType.iterableValue
