parameters:
    level: max
    paths:
        - src
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - src/Lambda/Response/AbstractErrorHttpResponse.php
        - templates/*
        - tests/*
    ignoreErrors:
        - '#Method [^\s]* has parameter \$[^\s]* with no type specified#'
        - '#CurlHandle\|resource given#'
        - message: '#unknown class CurlHandle|Class CurlHandle not found#'
          paths:
            - src/Lambda/RuntimeApiClient.php
            - src/Lambda/InvocationEvent/InvocationEventFactory.php
        - message: '#While loop condition is always true#'
          paths:
            - runtime/runtime.php
